body {
  font-family: "Heebo", sans-serif;
}

nav a {
  color: black;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 50px;
  padding-top: 20px;
}

#Home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 100px 15%;
}

button {
  width: 150px;
  height: 37px;
  background-color: #ff6464;
  color: white;
  border-radius: 2px;
  border: none;
}

.circle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color {
  color: #00a8cc;
}

.box {
  background-color: #edf7fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
  padding-bottom: 10px;
  padding-top: 3px;
  margin-left: -10px;
  margin-right: -10px;
}

.bx {
  display: flex;
  flex-direction: row;
}

.box1 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.box2 {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.prg {
  margin: 15px;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kontak {
  padding-left: 100px;
}

.kontak1 {
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.room {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.on {
  background-color: #142850;
  width: 62px;
  height: 25px;
  border-radius: 16px;
}

.long {
  color: #8695a4;
}

.kontak2 {
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.meet {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.of {
  background-color: #142850;
  width: 62px;
  height: 25px;
  border-radius: 16px;
}

.tall {
  color: #8695a4;
}

.kontak3 {
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.time {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.all {
  background-color: #142850;
  width: 62px;
  height: 25px;
  border-radius: 16px;
}

.short {
  color: #8695a4;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  padding: 50px;
  margin-left: 400px;
  margin-right: 400px;
}

.copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: 60px;
}

.text-design {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 60%;
  font-weight: normal !important;
}

.line {
  background-color: #142850;
  color: #142850;
  width: 0.5px;
  height: 20px;
}

.text-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 60%;
  font-weight: normal !important;
}

.garis {
  background-color: #142850;
  color: #142850;
  width: 0.5px;
  height: 20px;
}
